<h2>Hello from Apache2 inslalled by Ansible!!!</h2><br><br>

Owner of this server is : {{ owner }}<br>
IP address of this server is : {{ ansible_default_ipv4.address }}<br>
Hostname is : {{ ansible_hostname }}<br>
OS family is : {{ ansible_os_family }}